<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Calculator">
    <!--        <listeners>-->
    <!--            <listener class-name="org.uncommons.reportng.HTMLReporter" />-->
    <!--            <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />-->
    <!--        </listeners>-->
    <test name="tSmirnova_hW_auto02.CalculatorA">
        <classes>
            <class name="tSmirnova_hW_auto02.CalculatorA.CalculatorAutomation"/>
        </classes>
    </test>
</suite>